.App {
  text-align: center;
}

table, th, td {
  border:1px solid black;
  padding: 0px;
}

td {
  background-color: beige;
}

button {
  background-color: rgb(168, 164, 164);
  color: black;
  border: 2px solid #424d43;
}

button:hover {
    background-color: #555555;
    color: white;
  }
